

body {
  background-color: red;
}

h1 {
  color: navy;
  margin-left: 20px;
}

#important {
  color: pink;
}

.boottitles {
  background-color: yellow;
}

table {
  border-color: blue;
  border-style: groove;

}

/* Screen checker to see if it is not on a widescreen device*/
@media only screen and (min-width: 600px) {
body {
  background-color: green;
  font-style: italic;
}
}
