/* CSS GENERAL PAGE*/
/* Andrew Symes */

topbit {
  background-color: darkblue;
  color: white;
  padding: 5%;
  text-align: center;
  align-items: center;
}

body {
  background-color: lightgreen;
}

h1 {
  color: navy;
  margin-left: 20px;
}

#important {
  color: darkblue;
  text-align: center;
}

.titles {
  color: darkgreen;
  text-align: center;
  font-style: oblique;
}

table {
  border-color: blue;
  border-style: groove;
  text-align: center;
}

cen {
  text-align: center;
}

td {
  padding: 15px;
}

/* Screen checker to see if it is not on a widescreen device*/
@media only screen and (min-width: 600px) {
body {
  background-color: green;
  font-style: italic;
  color: white;
}

.titles{
  color: lightgreen
}

#important {
  color: lightblue;
}

}
