$txtcolor: white;
$bckcolor: black;

%inherentence {
  text-align: center;
  background-color: $bckcolor;

}

body {
  @extend %inherentence;
}

li {
  @extend %inherentence;
  color: $txtcolor;

  ravens {
    color: purple;
    background-color: $txtcolor;
  }
}
