$txtcolor: navy;
$bckcolor: lavender;

%inherentence {
  text-align: center;
  background-color: $bckcolor;
  color: $txtcolor;
}

body {
  @extend %inherentence;
  background-color: $bckcolor;
}

li {
  @extend %inherentence;

  ravens {
    color: purple;
    /*background-color: white; */
    font-weight: bolder;
    padding: 3px;
  }
}
